Bottles
FubuCore
FubuLocalization
FubuMVC.Core
FubuPersistence
HtmlTags
Microsoft.CompilerServices.AsyncTargetingPack
Microsoft.Data.Edm
Microsoft.Data.OData
Microsoft.WindowsAzure.ConfigurationManager
RavenDB.Client
RavenDB.Database
RavenDB.Embedded
structuremap
WindowsAzure.Storage
