Bottles
FubuCore
FubuLocalization
FubuMVC.Core
FubuMVC.StructureMap
FubuPersistence
FubuTestingSupport
HtmlTags
Microsoft.CompilerServices.AsyncTargetingPack
Microsoft.Data.Edm
Microsoft.Data.OData
Microsoft.WindowsAzure.ConfigurationManager
NUnit
RavenDB.Client
RavenDB.Database
RavenDB.Embedded
RhinoMocks
structuremap
structuremap.automocking
WindowsAzure.Storage
