<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.377" targetFramework="net40" />
  <package id="FubuCore" version="0.9.9.193" targetFramework="net40" />
  <package id="FubuLocalization" version="0.9.5.86" targetFramework="net40" />
  <package id="FubuMVC.Core" version="0.9.8.1221" targetFramework="net40" />
  <package id="FubuTestingSupport" version="0.9.9.193" targetFramework="net40" />
  <package id="HtmlTags" version="1.2.0.121" targetFramework="net45" />
  <package id="NUnit" version="2.5.10.11092" targetFramework="net45" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.65" targetFramework="net45" />
  <package id="structuremap.automocking" version="2.6.4.65" targetFramework="net45" />
</packages>