<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.358" targetFramework="net40" />
  <package id="FubuCore" version="0.9.9.191" />
  <package id="FubuLocalization" version="0.9.5.77" targetFramework="net40" />
  <package id="FubuMVC.ContentExtensions" version="0.1.0.31" />
  <package id="FubuMVC.Core" version="0.9.8.1214" />
  <package id="FubuMVC.Core.UI" version="0.9.9.13" />
  <package id="FubuMVC.Core.View" version="0.9.9.12" />
  <package id="HtmlTags" version="1.1.0.110" targetFramework="net40" />
</packages>