Bottles
Castle.Core
FubuCore
FubuLocalization
FubuMVC.Core
FubuMVC.Diagnostics
FubuMVC.Katana
FubuMVC.RavenDb45
FubuMVC.Spark
FubuMVC.StructureMap
FubuPersistence45
HtmlTags
Microsoft.CompilerServices.AsyncTargetingPack
Microsoft.Data.Edm
Microsoft.Data.OData
Microsoft.Data.Services.Client
Microsoft.WindowsAzure.ConfigurationManager
Newtonsoft.Json
NUnit
Owin
RavenDB.Client
RavenDB.Database
RavenDB.Embedded
Selenium.RC
Selenium.Support
Selenium.WebDriver
Selenium.WebDriverBackedSelenium
Serenity
Spark
Storyteller2
structuremap
System.Spatial
WindowsAzure.Storage
