Bottles
Castle.Core
FubuCore
FubuLocalization
FubuMVC.Core
FubuMVC.Core.Assets
FubuMVC.Core.UI
FubuMVC.Core.View
FubuMVC.Diagnostics
FubuMVC.JQueryUI
FubuMVC.Katana
FubuMVC.Media
FubuMVC.Navigation
FubuMVC.OwinHost
FubuMVC.RavenDb
FubuMVC.SlickGrid
FubuMVC.Spark
FubuMVC.StructureMap
FubuMVC.TwitterBootstrap
FubuPersistence
HtmlTags
Microsoft.CompilerServices.AsyncTargetingPack
Microsoft.Data.Edm
Microsoft.Data.OData
Microsoft.WindowsAzure.ConfigurationManager
NUnit
Owin
Owin.Extensions
Owin.Types
RavenDB.Client
RavenDB.Database
RavenDB.Embedded
Selenium.RC
Selenium.Support
Selenium.WebDriver
Selenium.WebDriverBackedSelenium
Serenity
Spark
Storyteller2
structuremap
WindowsAzure.Storage
