Bottles
FubuCore
FubuLocalization
FubuMVC.Ajax
FubuMVC.Core
FubuMVC.Katana
FubuMVC.StructureMap
FubuMVC.Validation
FubuTestingSupport
FubuValidation
HtmlTags
Microsoft.AspNet.WebApi.Client
Microsoft.AspNet.WebApi.Core
Microsoft.AspNet.WebApi.SelfHost
Microsoft.Net.Http
Newtonsoft.Json
NUnit
NUnit.Runners
Owin
RhinoMocks
structuremap
structuremap.automocking
