Bottles
FubuCore
FubuLocalization
FubuMVC.Core
FubuMVC.Katana
FubuMVC.OwinHost
FubuMVC.SelfHost
FubuMVC.StructureMap
FubuMVC.TestingHarness
FubuTestingSupport
HtmlTags
Microsoft.AspNet.WebApi.Client
Microsoft.AspNet.WebApi.Core
Microsoft.AspNet.WebApi.SelfHost
Microsoft.Net.Http
NUnit
Owin
Owin.Extensions
RhinoMocks
structuremap
structuremap.automocking
