<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.376" />
  <package id="CodeContracts.Unofficial" version="1.0.0.2" targetFramework="net40" />
  <package id="DotNetOpenAuth" version="4.1.0.12182" targetFramework="net40" />
  <package id="DotNetOpenAuth.Core" version="4.1.0.12182" targetFramework="net40" />
  <package id="DotNetOpenAuth.Core.UI" version="4.1.0.12182" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.Common" version="4.1.0.12182" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.1.0.12182" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.1.0.12182" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.ServiceProvider" version="4.1.0.12182" targetFramework="net40" />
  <package id="FubuCore" version="0.9.9.192" />
  <package id="FubuLocalization" version="0.9.5.77" targetFramework="net40" />
  <package id="FubuMVC.ContentExtensions" version="0.1.0.35" />
  <package id="FubuMVC.Core" version="0.9.8.1219" />
  <package id="FubuMVC.Core.View" version="0.9.9.12" />
</packages>